.pics{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
    height: auto;
    object-fit: cover;
}

.gallimg{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 300px;
    object-fit: cover;
}
.Gstatetext{
    text-align: center;
    margin-top: 20%;
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    .pics{
        width: 100%;
      margin: 20px 0;
     
    }
    .gallimg{
        width: 100%;
        height: auto;
    }
}